@media (max-width:768px) {
    .bars {
        display: block;
        margin-left: 10px;
    }

    /* .menu {
        width: 100%;
        background: #4e4e4e;
        margin-top: 30px;
        display: none;
    }
    
    .menu ul li a:hover {
        transform: translate(30px);
        color: #c0c0cb;
    }
    
    .menu ul {
        flex-direction: column;
        justify-content: start;
        align-items: start !important;
    }
    .menu ul li a {
        color: #fff;
        display: inline-block;
        width: 100%;
    }
    .menu ul li {
        display: block;
        width: 100%;
        border-bottom: 2px solid #fff;
    } */


    .menu {
        width: 100%;
        background: #000;
        margin-top: 30px;
        display: none;
        padding: 0 !important;
        margin: 0;
    }

    .menu ul {
        flex-direction: column;
        justify-content: center !;
    }
    .menu ul li {
        width: 100%;
        border-bottom: 2px solid #fff;
        display: block;
    }

    .menu ul li a {
        color: #fff;
        display: inline-block;
        width: 100%;
    }

    .menu_logo a {
        color:#4e4e4e;
        font-size:30px;
        font-weight: bold;
        padding-right: 20px;
      }


      .testi_con_main p {
        font-size: 15px;
      }

      .testi_con_main i {
        font-size: 30px;
        
      }


};